.fireworks-container {
  min-height: 100vh;
  background: radial-gradient(
    circle at center,
    #1b1e4e 0%,
    #0c0b2e 50%,
    #05010a 100%
  ) !important;
  font-family: "Shippori Mincho", serif;
  color: #000 !important;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.fireworks-container h1,
.fireworks-container h2 {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

.rg-playfield {
  width: 1000px !important;
  height: 1000px !important;
  margin: 0 auto !important;
  background-color: black !important;
  border-color: white;
  border-style: solid;
  overflow: hidden !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 40px !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.rg-playfield-title {
  color: #ffffff !important;
  font-size: 30px !important;
  margin-bottom: 30px !important;
  flex-shrink: 0 !important;
  z-index: 5;
}

.rg-playfield-container {
  width: 100% !important;
  flex-grow: 1 !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-content: flex-start !important;
  gap: 20px;
  overflow-y: auto;
  padding: 10px;
}

.rg-playfield-card-wrapper {
  position: relative !important;
  width: 126px !important;
  height: 175px !important;
  flex-shrink: 0 !important;
  transition: transform 0.2s ease-in-out !important;
}

.rg-card-text-content {
  font-size: 25px;
}

.rg-playfield-empty {
  color: #555 !important;
  margin-top: 100px;
}
